@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body {background-color:#D8D9DD;}
html, body {background-color:red;} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-weight: 300;
}

h1,h2,h3 {
    font-weight:700;
}

.staff figure {
   @apply w-6/12 flex-wrap items-start sm:w-4/12  self-center p-2 mb-3 

}

.staff figcaption {
    @apply h-7 text-center text-sm py-2
}




.p-light {
    @apply text-base p-12 md:p-4 lg:text-2xl lg:leading-8 text-white text-opacity-80 font-light
}

.p-dark {
    @apply text-base p-12 md:leading-8 md:p-10 lg:text-2xl lg:leading-8 text-gray-500 text-opacity-80 font-light self-center
}

.text-smaller {
    @apply text-sm
}

h3 {
    @apply font-bold pb-6 text-3xl
}

p {
    @apply pb-6
}

.width-150 {
    width:150px;
}
/* table, td, tr {
    @apply divide-y-0 divide-light-blue-50
} */

